<nav class="navbar navbar-expand-lg navbarStyle navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/logo.png" alt="Our Films" width="180px" height="60px" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active navBalColourStyle" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBalColourStyle" href="#quote">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBalColourStyle" href="#beforeTheBeginning">Before</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBalColourStyle" href="#aboutTheBeginning">Beginning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBalColourStyle" href="#rules">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBalColourStyle" href="#visit">Visit Us</a>
          </li>
          <li class="nav-item">
            <a class="btn facebookBtn" href="https://www.facebook.com/people/Our-Films-Shorts-Fest/100064338570573/" target="_blank" role="button">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
</nav>