<footer>
	<div class="container-fluid footerCopyright">
		<div class="row">
            <div class="col-12">
                <div class="container ps-0 pe-0">
                    <div class="row">
                        <div class="col-12 mt-4">
                            <img class="mx-auto d-block" width="180px" height="137px" src="./assets/images/logo-footer.png" alt="Our Films">
                        </div>
                        <div class="col-12 copyrightStyle text-center mt-3 mb-4">
                            <p>© {{ currentYear }} Our Films | All rights reserved | Built by <a href="https://www.thespiders.in" class="anchorStyle" target="_blank">The Spiders</a></p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</footer>