<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!---------------------- Scroll To Top Button ---------------------------->
<button type="button" class="btn active scrollTopBtn" data-toggle="button" aria-pressed="true" (click)="scrollToTop()" *ngIf="pageYoffset > 0">
    <i class="fas fa-chevron-up iconFontSize" ></i>
</button>
<!---------------------- WhatsApp Button ---------------------------->
<a class="btn active whatsAppBtn" href="https://wa.me/919330176213" target="_blank">
    <i class="fab fa-whatsapp iconFontSize"></i>
</a>