<!-------------------------------- XLarge ----------------------------------->
<div id="corouselXLarge" class="carousel slide d-none d-xl-block" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#corouselXLarge" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#corouselXLarge" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active extraLarge" data-bs-interval="4000">
            <img src="../../assets/images/slider-xl-1.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption">
                <h5>Our Films</h5>
                <p>Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn btn1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn btn2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
        <div class="carousel-item extraLarge" data-bs-interval="4000">
            <img src="../../assets/images/slider-xl-2.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption">
                <h5>Our Films</h5>
                <p>Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn btn1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn btn2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#corouselXLarge" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#corouselXLarge" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--------------------------------- Large ----------------------------------->
<div id="corouselLarge" class="carousel slide d-none d-lg-block d-xl-none" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#corouselLarge" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#corouselLarge" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active large" data-bs-interval="4000">
            <img src="../../assets/images/slider-lg-1.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption">
                <h5>Our Films</h5>
                <p>Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn btn1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn btn2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
        <div class="carousel-item large" data-bs-interval="4000">
            <img src="../../assets/images/slider-lg-2.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption">
                <h5>Our Films</h5>
                <p>Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn btn1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn btn2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#corouselLarge" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#corouselLarge" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--------------------------------- Medium ----------------------------------->
<div id="corouselMedium" class="carousel slide d-none d-md-block d-lg-none" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#corouselMedium" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#corouselMedium" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active medium" data-bs-interval="4000">
            <img src="../../assets/images/slider-md-1.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption mediumDevice">
                <h5 class="mediumH5">Our Films</h5>
                <p>Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn btn1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn btn2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
        <div class="carousel-item medium" data-bs-interval="4000">
            <img src="../../assets/images/slider-md-2.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption mediumDevice">
                <h5 class="mediumH5">Our Films</h5>
                <p>Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn btn1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn btn2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#corouselMedium" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#corouselMedium" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!------------------------------------------------- Small -------------------------------------->
<div id="corouselSmall" class="carousel slide d-none d-sm-block d-md-none" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#corouselSmall" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#corouselSmall" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active small" data-bs-interval="4000">
            <img src="../../assets/images/slider-sm-1.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption smallDevice">
                <h5 class="smallH5">Our Films</h5>
                <p class="smallP">Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn extraSmallButton1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn extraSmallButton2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
        <div class="carousel-item small" data-bs-interval="4000">
            <img src="../../assets/images/slider-sm-2.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption smallDevice">
                <h5 class="smallH5">Our Films</h5>
                <p class="smallP">Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn extraSmallButton1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn extraSmallButton2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#corouselSmall" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#corouselSmall" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!------------------------------------------------- XSmall ------------------------------------->
<div id="corouselXSmall" class="carousel slide d-block d-sm-none" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#corouselXSmall" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#corouselXSmall" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active xSmall" data-bs-interval="4000">
            <img src="../../assets/images/slider-xs-1.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption extraSmall">
                <h5 class="extraSmallH5">Our Films</h5>
                <p class="extraSmallP">Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn extraSmallButton1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn extraSmallButton2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
        <div class="carousel-item xSmall" data-bs-interval="4000">
            <img src="../../assets/images/slider-xs-2.jpg" class="d-block w-100" alt="Our Films">
            <div class="carousel-caption extraSmall">
                <h5 class="extraSmallH5">Our Films</h5>
                <p class="extraSmallP">Discover new voices of aspiring film makers</p>
                <div class="sliderBtn">
                    <a class="btn extraSmallButton1 text-uppercase" href="#applyNow" role="button">Apply Now</a>
                    <a class="btn extraSmallButton2 text-uppercase" href="#visit" role="button">Visit Us</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#corouselXSmall" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#corouselXSmall" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>